{% extends "base.html" %} {% block content %}
<div class="profile__back">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for profile in profiles %}
      <div class="col mt-5">
        <div class="card h-100">
          <div class="top">
            {% if profile.profile_image %}
            <img
              class="card__image"
              src="{{profile.profile_image.url}}"
              class="card-img-top"
              alt="devolopers image"
            />
            {% endif %}
            <div class="top__detail">
              <span class="profile__name"
                ><a href="{% url 'profile-detail' profile.id %}"
                  >{{profile.name}}</a
                ></span
              >
              <b class="profile__name">{{profile.short_intro}}</b>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">{{profile.bio|slice:'200'}}</p>
            {% for skill in profile.skills_set.all %}
           {% if skill.name %}
               <span class="card__skill">{{skill}}</span>

           {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
